{% extends 'base.html' %}
{% load ecomm_extras %}
{% load static %}
	{% block content %}
<div>
    <div class="box">
         <div class="title-basket">
                <h1>Shopping cart</h1>
                <p class="text-muted">You currently have {{user.count_basket}} item(s) in your basket.</p>
            </div>
            <div class="table-responsive">
                <table class="table tbasket">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th>Discount</th>
                            <th>Total</th>
                            <th />
                        </tr>
                    </thead>
                    <tbody>
                        {% for basket in user.basket %}
                            <tr class="row-basket">
                                <td>
                                        {% with 'img/'|add:basket.fields.ID_Product.PictureProductName as image_static %}
                                            <img class="img-price" src="{% static image_static %}/1.jpg" />
                                        {% endwith %}
                                </td>
                                <td><a href="./product.html?op=product&id={{basket.pk}}">{{basket.fields.ID_Product.NameProduct}}</a>
                                </td>
                                <td>{{basket.fields.Quantity}}</td>
                                <td>{{user.currency.symbol}}{{basket.fields.ID_Product.Price}}</td>
                                <td>{{basket.fields.ID_Product.Sale}}%</td>
                                <td>{{user.currency.symbol}}{{basket.fields.ID_Product.Tot|floatformat:2}}</td>
                                <td><a  id="remove-prd" onclick="javascript:send('', {'op': 'removePrd', 'id': {{basket.pk}}})"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5">Total</th>
                            <th colspan="2">{{user.currency.symbol}}{{user.sum_basket|floatformat:2}}</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.table-responsive -->

    </div>
    <!-- right box -->
    <div class="col-md-3">
        <div class="box" id="order-summary">
            <div class="box-header">
                <h3>Order summary</h3>
            </div>
            <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Order subtotal</td>
                            <th>{{user.currency.symbol}}{{user.subtotal_basket|floatformat:2}}</th>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <th>{{user.currency.symbol}}{{user.tax_basket|floatformat:2}}</th>
                        </tr>
                        <tr>
                            <td>Shipping and handling</td>
                            <th>{{user.currency.symbol}}{{user.shipping_basket|floatformat:2}}</th>
                        </tr>
                        <tr class="total">
                            <td>Total</td>
                            <th>{{user.currency.symbol}}{{user.total_basket|floatformat:2}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
	<div class="box-footer">
		<div class="left">
			<button type="buttom" class="button" id="home-basket" onclick="location.href='/'"><i class="fa fa-arrow-circle-left"></i> Continue shopping</button>
		</div>
		<div class="right">
			<button type="buttom" class="button" id="checkout-basket" onclick="location.href='/checkout-address.html'">Proceed to checkout<i class="fa fa-arrow-circle-right"></i>
			</button>
		</div>
	</div>
</div>
	{% endblock %}
